body {
  background-color:  pink;
}

h1 {
  color: blue;
  font-size: 3em;
  text-align: center;
  
}

h2 {
  color: green;
  font-weight: normal;
  font-style: italic;
  text-align: center
}
p {
  text-align: center;
}

#tasks {
  font-family: 12px;
  background: #ccc;
  
}

#tasks .completed {
  background: #ccc;
  text-decoration: underline;
  font-family: 12px;
  text-align: left;

}
#adam {
 
  align-items: center;
  
  
}